@charset "utf-8";

/*login_title*/
#login_title{  /*로그인*/
    width: 100%;
    height: 120px;
    background-color: #e7eaed;
    margin-bottom: 30px;
}
#login_title h3{
    width: 600px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 60px;
    background: url(../images/login_small.png) no-repeat 210px center;
    padding-top: 30px;  /*높이 원래 120이었는데 padding30 때문에 90으로 바꿈*/
}

/*login_container*/
#login_container{
    width: 900px;
    height:500px;
    border-top: 1px solid #333333;
    margin-left: auto;
    margin-right: auto;
    padding-top:70px;
    box-sizing: border-box;
}
#login_container > #login_left{  /*LOGIN, 로그인이 필요한..*/
    width:350px;
    height:300px;
    float:left;
    background:url(../images/login_big.png) no-repeat center 130px;
}
#login_container > #login_left > h4{    /*LOGIN*/
    height: 20px;
    font-size: 25px;
    margin-bottom: 30px;
    text-align:center;
}
#login_container > #login_left >p{    /*로그인이 필요한..*/
    height: 40px;
    margin-bottom: 15px;
    text-align:center;
}
#login_container > #login_right {  /*아이디, 비밀번호...*/
    float:right;
    width:400px;
    height:300px;
}
#u_id,#u_pwd{
    width: 300px;
    height: 35px;
    text-indent: 1em;
    outline: none;
    margin-bottom: 5px;
}
#u_id{
    margin-left:25px;
}
#u_pwd{
    margin-left:10px;
}
.login_chk{  /*아이디 저장, 비밀번호 저장*/
    width:150px;
    height: 20px;
    margin-bottom: 10px;
    margin-left:40px;
    margin-top:5px;
    float:left;
}
/*박스 크기 조절하기 위해 input, label을 float로 딱 붙여서 margin으로 조절*/
.login_chk input{       /*체크박스*/
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.login_chk label{       /*아이디 저장,비밀번호 저장*/
    float: left;
}
.login_sub{  /*로그인*/
    clear: both;
    height: 35px;
    margin-bottom: 10px;
}
.login_sub input{
    background-color:#e7eaed;
    color: #ffffff;
    border: none;
    width: 390px;
    height: 35px;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
}
.login_sub input:hover{
    background-color: #ffffff;
    border: 1px solid #cecece;
    color: #000000;
}
.login_list{    /*아이디 찾기*/
    height: 25px;
}
.login_list li{
    float: left;
    background: url(../images/bar1.jpg) no-repeat left center;
    padding-left: 10px;
    margin: 0 5px;
}
.login_list li:first-child{
    background: none;
    padding-left: 0;
    margin-left: 30px;
}
.login_list li a{
    color: #333333;
}
.login_list li a:hover{
    text-decoration: underline;
}

#login_sns{  /*sns 로그인*/
    width:400px;
    height:90px;
    margin-top:10px;
}
#login_sns h5{
    text-align:center;
}
#login_sns p{
    float:left;
    margin-left:20px;
    margin-top:10px;
}
#login_sns p:nth-of-type(1){  /*네이버*/
    margin-top:4px;
    margin-left:100px;
}
